<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uuzuche.lib_zxing">

    <application
        android:supportsRtl="true"
        android:theme="@style/commonStyle"
        >

        <activity
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="扫一扫"
            android:screenOrientation="portrait"
            android:theme="@style/commonStyle"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
    </application>

</manifest>
